body {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.cloud-img-top{
    width: 9.375rem;
    position: absolute;
    right: 31.25rem;
    top: 10px;
}

.cloud-img-bottom {
    width: 9.375rem;
    position: absolute;
    left: 31.25rem;
}
.top-container {
    background-color: #B5EAEA;
    position: relative;
    padding-top: 150px;
    box-sizing: border-box;
}

.top-container h1 {
    margin: 0;
    font-family:'Ephesis', cursive;
    font-size: 5.625rem;
}

.top-container h2 {
    font-family: 'Ephesis', cursive;
    font-size: 2.813rem;
}


.middle-container {
    padding-top: 50px;
    background-color: #F5F5F5;
}

.middle-container .profile img {
    width: 15%;
}

.middle-container p {
    width: 50%;
    margin: auto;
    font-size: 30px;
    line-height: 2;
}


hr {
    margin-top: 60px;
    border: dotted 30px #9D9D9D;
    width: 5%;
    border-bottom: none;
    margin-bottom: 60px;
}


.skill-row {
    width: 70%;
    margin: 100px auto;
}

.img-web {
    width: 30%;
    float: left;
    margin-right: 60px;
}
.middle-container .skills .skill-row h3 {
    text-align: left;
}

.middle-container .skills .skill-row p {
    font-size: 20px;
    text-align: left;
}

.skills h2 {
    margin:100px 0;
}

.img-machine-learning {
    width: 30%;
    float: right;
    margin-left: 10px;
}

.my-project {
    margin-top: 200px;
}